html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body,
input {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

div.content p {
  padding: 30px;
  border: 1px solid #000;
}
